:root{


}


*{
    box-sizing: border-box ;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(179, 242, 242);
    height: 100vh;
    width: 100vb;
}

.wrapper{
    height: 500px;
    width: 250px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

.buttons{
    
    padding-top: 30px;
    row-gap: 10px;
    column-gap: 10px;
    
    display: grid;
    grid-template-columns:  repeat(4 , 1fr);
}

#screen{
    border-radius: 30px;
    padding: 40px;
    text-align: right;
    height: 60px;
    font-size: 60px;
}

.num{
    
    height: 50px;
    box-shadow: 0 2px 5px  rgb(208, 147, 24);
    cursor: pointer;
    
    
}
.op{
    background-color: rgb(226, 178, 178);
    margin-left: 5px;
    box-shadow: 0 2px 5px  rgb(208, 147, 24);
    cursor: pointer;
}
#en {
    border-radius: 30px;
    margin-top: 10px;
    height: 50px;
    background-color: rgb(234, 232, 182);
    grid-column: span 4;
}

