:root{
    --primary-color : rgb(230, 205, 205);
    
    
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--primary-color);

}
.wraaper{
    width: 100%;
    height: 500px;
    background: #c6abd3;
}

.blogs{
    display: flex;
    background: #000;
    width: 50px;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.updates{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffa3a3;
}
header{
    text-align: center;
    background-color: #ffa3a3;
    
}
main{
    width: 100%;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin-top: 50px;
    background-color: #4e4343;
    text-align: center;
}

table{
    margin-top: 300px;
    width: 50%;
    border-collapse: collapse;
}
th , td {
    border: 2px solid black;
}
.vid{
    display:flex ;
    flex-direction: column ;
   
    
    
}
#vid{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    height: 400px;
    padding: 10px;
    background-color: rgb(165, 255, 255);
    border: #922323;
}
#vid img{
    width: 50%;
    height: 100%;
    object-fit: cover;

}
.sample{
    
    background-color: rgb(67, 62, 62);
    margin-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}